@tailwind base;
@tailwind components;
@tailwind utilities;

#site-header .navigation-wrapper {
  @apply h-20 bg-sky-500 flex items-center justify-center text-3xl font-bold text-white;
}

#site-main {
  min-height: calc(100vh - 240px);
}

#site-footer .footer-wrapper {
  @apply h-40 bg-sky-700 flex items-center justify-center text-3xl font-bold text-white;
}

.section-hero {
  @apply flex flex-col sm:gap-[14px] xl:gap-[24px] mt-[68px] md:max-w-[1200px]  xl:max-w-[1200px] sm:max-w-[327px];
}

.news-wrapper {
  @apply flex sm:flex-col xl:flex-row mt-[40px] justify-between  xl:gap-[60px] md:max-w-[1200px]  xl:max-w-[1200px] sm:max-w-[327px] mb-[80px];
}

.news-wrapper section {
  @apply sm:w-full xl:w-[80%];
}

.article * {
  @apply mb-[24px];
}

.tag-aside {
  @apply border-l-4 border-blue-700;
}

aside {
  @apply sm:px-[14px] sm:py-[19px] xl:py-0 xl:px-0 rounded-xl xl:border-0 sm:border;
}

.aside-post {
  @apply flex flex-row sm:mb-[24px] sm:gap-[14px] md:gap-[14px] xl:gap-[14px] xl:border-b-2 xl:pb-[20px] xl:pt-[20px];
}

.post-column {
  @apply xl:border rounded-xl xl:py-[19px] xl:px-[10px] xl:w-[379px];
}

.related {
  @apply text-[20px] flex flex-row sm:gap-[10px] xl:gap-[10px] items-center mt-[41px];
}

.related ul {
  @apply flex flex-row text-center items-center xl:gap-[6px] gap-[10px];
}

.related li {
  @apply bg-[#E9E9E9] px-[10px] rounded-full;
}

.aside-text-layout {
  @apply flex flex-col gap-[10px] sm:w-[125px] md:grow xl:max-w-[185px];
}

.share {
  @apply flex flex-row gap-[10px] sm:mt-[20px] xl:mt-0;
}

.share ul {
  @apply flex flex-row gap-[10px] items-center;
}

.share li {
  @apply rounded-full bg-[#0D0D0D] sm:p-[3px] xl:p-[8px] flex items-center justify-center place-content-center;
}

.share img {
  @apply w-[13px] h-[13px];
}

iframe {
  @apply aspect-video w-full;
}

.aside-title {
  @apply flex flex-row justify-between sm:mb-[41px] xl:mb-0;
}

.see-all {
  @apply flex flex-row gap-2 items-center justify-center;
}

.line {
  width: 96px;
  height: 2px;
  background-color: black;
}

.small-line {
  margin-left: 12px;
  width: 32px;
  height: 2px;
  background-color: black;
}

.underline-title {
  @apply flex flex-row mt-[13px];
}

@media (max-width: 767px) {
  .line {
    width: 72px;
    height: 2px;
    background-color: black;
  }

  .small-line {
    margin-left: 12px;
    width: 24px;
    height: 2px;
    background-color: black;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .line {
    width: 120px;
    height: 4px;
    background-color: black;
  }

  .small-line {
    display: absolute;
    margin-left: 16px;
    width: 32px;
    height: 4px;
    background-color: black;
  }
}

.main-image img {
  @apply shadow-xl;
}

.thumbnail {
  @apply sm:w-[154px] md:flex-none md:w-[154px] xl:w-[154px] h-[130px] xl:text-[89];
}

.thumbnail-content {
  @apply h-auto w-full;
}
